<nav class="section-p1 section-m1">
    <div class="logo">
      <a href="./">
        <img src="./Assets/we tech.png" alt="" />
      </a>
    </div>
    <div class="list">
      <% if (login) { %>
      <li><a href="./home">Home</a></li>
      <li><a href="./dashboard">Dashboard</a></li>
      <li><a href="./profile">Profile</a></li>
      <li><a href="./publish" class="active">Publish</a></li>
      <li><a href="./signout">Logout</a></li>
      <% } else { %>
      <li><a href="./">Home</a></li>
      <li><a href="./signin" class="active">Accounts</a></li>
      <% } %>
      <li id="times"><i class="far fa-times times"></i></li>
    </div>
    <div class="hamburger">
      <i class="fas fa-outdent"></i>
    </div>
  </nav>
  <script>
      window.onload=()=>{
      let route = window.location.href;
      let lis = document.querySelectorAll(".list a");
      
      for(let i of lis){
          //   if(i.firstChild)
          let h=i.href.split("/").reverse()[0];
          let r=route.split("/").reverse()[0]
          
          if(h==r){
              i.classList.add("active");
          }
          else{
              i.classList.remove("active");
          }
      }
    }
  </script>