<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harv Blog</title>
    <link rel="stylesheet" href="./styles.css" />
    
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>
  <body>
    <nav class="section-p1 section-m1">
      <div class="logo">
        <img src="./Assets/Logo.svg" alt="" />
      </div>
      <div class="list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#" class="active">Accounts</a></li>
        <li id="times"><i class="far fa-times times"></i></li>
      </div>
      <div class="hamburger">
        <i class="fas fa-outdent"></i>
      </div>
    </nav>

    <section class="first section-p1">
      <div class="card">
        <div class="profile-image">
          <a href=""></a>
          <img src="./Assets/Main-Article.png" width="100%" alt="" />
        </div>
        <div class="writeup">
          <h2>Weekly Newsletter: Tweets for Higher Engagements</h2>
          <p>
            In this weekly newsletter, we will be covering ten types of engaging
            tweets. This is the guide if you're just starting on Twiiter
          </p>
          <div class="profile-img">
            <img src="./Assets/User Avatar.png" width="10%" alt="" />
            <div class="profile-infot">
              <h3>Jessica Andrews</h3>
              <p>Content Manager</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="second section-p1">
      <div class="container">
        <div class="blog">
          <div class="blog-post">
            <img src="./Assets/Article1.png" width="100%" alt="" />
            <h2>7 Tips for Organic Traffic in Tech</h2>
            <p>
              From SEO to integrating with paid Advertising. This article covers
              all
            </p>
          </div>
          <div class="profile-img">
            <img src="./Assets/Avatar-1.png" width="15%" alt="" />
            <div class="profile-info">
              <h3>Spencer David</h3>
              <p>SEO Specialist</p>
            </div>
          </div>
        </div>
        <div class="blog">
          <div class="blog-post">
            <img src="./Assets/Article2.png" width="100%" alt="" />
            <h2>How To Start Your Own Business</h2>
            <p>Starting your own business in 2023 has never been easier.</p>
          </div>
          <div class="profile-img">
            <img src="./Assets/Avatar-2.png" width="15%" alt="" />
            <div class="profile-info">
              <h3>Sara Frey</h3>
              <p>Business Leader</p>
            </div>
          </div>
        </div>
        <div class="blog">
          <div class="blog-post">
            <img src="./Assets/Article3.png" width="100%" alt="" />
            <h2>5 Tips For Better Branding</h2>
            <p>
              From SEO to integrating with paid Advertising. This article covers
              all
            </p>
          </div>
          <div class="profile-img">
            <img src="./Assets/Avatar-3.png" width="15%" alt="" />
            <div class="profile-info">
              <h3>David Suns</h3>
              <p>Brand Manager</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="section-p1">
      <div class="logo">
        <img src="./Assets/Logo.svg" width="100%" alt="" />
      </div>
      <div class="copy">
        <p>Unifeed &copy; 2023 All Copyrights Reserved</p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
