<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeTech Blog</title>
    <link rel="stylesheet" href="./styles.css" />
    
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>

  <body> 
    <nav class="section-p1 section-m1">
      <div class="logo">
        <img src="./Assets/we tech.png" alt="" />
      </div>
      <div class="list">
        <li><a href="./home">Home</a></li>
        <li><a href="./profile">Profile</a></li>
        <li><a href="./publish" class="active">Publish</a></li>
        <li><a href="./signout">Logout</a></li>
        <li id="times"><i class="far fa-times times"></i></li>
      </div>
      <div class="hamburger">
        <i class="fas fa-outdent"></i>
      </div>
    </nav>

    <script>
      <% if (alert != "") { %>
        alert("<%= alert %>");
      <% } %>
    </script>
    <section class="second section-p1">
      <div class="container">
        <form action="/post" id="publish" method="post">
          <input type="text" name="title" placeholder="Enter Title" required />
          <div class="body">
          <textarea
            name="body"
            id=""
            cols="30"
            rows="10"
            placeholder="Enter Body"
            required
          ></textarea>
            <label for="file-input">
          <input type="file" id="file-input" accept="image/*" id="pic"  onchange="show(event)">
            <img src="./Assets/we tech.png" />
        </label>
          </div>
          <div class="tag-container" id="tag-container">
            <input
              type="text"
              id="tag-input"
              placeholder="Enter tags and press space or comma"
            />
          </div>
          <input type="hidden" name="tags" id="tags-input" />
          <button type="submit" class="active">Submit</button>
        </form>
      </div>
    </section>
    <footer class="section-p1">
      <div class="logo">
        <img src="./Assets/we tech.png" width="100%" alt="" />
      </div>
      <div class="copy">
        <p>WeTech &copy; 2023 All Copyrights Reserved</p>
      </div>
    </footer>

    <script src="script.js"></script>
    <script>
      function show(event){
          var pic = document.querySelector("#pic")
            
            let reader=new FileReader()

            reader.onload = function(e){
                pic.src=e.target.result;
            }
            reader.readAsDataURL(event.target.files[0])
        }
    </script>
  </body>
</html>

//test show()