<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="form">
      <form action="signup" method="post">
        <h1 class="log">Sign Up</h1>
        <input
          type="text"
          class="log1"
          name="name"
          placeholder="Enter your Full Name"
        /><br />
        <input
          type="text"
          class="log1"
          name="email"
          placeholder="Enter your Email"
        /><br />
        <input
          type="password"
          class="log1"
          name="password"
          placeholder="Create a Password"
        /><br />
        <button type="submit" class="log2">Sign Up</button>
        <p>Already have an account? <a href="./signin">Login</a></p>
        <br />
        <div class="agree">
          <p>
            <input type="checkbox" name="" id="" /> By creating an account, you
            agree with our <a href="#">Terms</a> and
            <a href="">Privacy policies</a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
