* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
.container {
  width: 100%;
}
.container .row {
  width: 45%;
  margin: auto;
}

.container .row .header h1 {
  padding-top: 30px;
  font-size: 55px;
  color: #e19c30;
}
.container .row .header p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.5;
  color: #6e6e6e;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin-top: 2rem;
}

.content > *{
  margin: 2.5% 0;
}

.content div:has(img){
  border:5px double grey;
  
  justify-content: space-between;
  padding: 1%;
  width: 80%;
}

.content img{
  width: 90%;
  margin:auto 5%;
}
.cardr {
  width: 100%;
}
.cardr img {
  width: 100%;
  height: 65vh;
}
.cardr h4 {
  margin: 10px 0 0 10px;
  font-size: 15px;
  font-family: roboto, sans-serif;
}
.cardr p {
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5;
  padding: 10px;
}
.cont {
  width: 45%;
  margin: auto;
  margin-top: 4rem;
}

.cont2 h1 {
  font-size: 50px;
  font-family: roboto, sans-serif;
  font-weight: bold;
}
.rem h3 {
  font-size: 20px;
  margin-top: 2rem;
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: #6e6e6e;
}
.rem {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  gap: 10% 10%;
  margin-top: 1rem;
  align-items: center;
}
.rem1 {
  width: 20%;
}
.rem1 img {
  width: 100px;
  border-radius: 50%;
}
.rem2 {
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: start;
  align-content: center;
}
.like {
  width: 45%;
  margin: auto;
}
.likes {
  border: none;
}
.likes1 {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 2rem;
}
.post {
  width: 45%;
  margin: auto;
}
.post2 h2 {
  font-size: 40px;
  margin: 2rem 0 1rem 0;
}

.minipost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-right: 30px;
  cursor: pointer;
}
.minipost-post h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.minipost-post p {
  font-size: 15px;
  color: #797878;
  margin-bottom: 10px;
}

.tagbody{
  border:1px solid lightgrey;
  /* border: none; */
  width: 80%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5%;
}

.tag{
  border-radius: 50px;
  background-color: #ee7c0d;
  color: white;
  text-align: center;
  padding: 1%;

  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .cont {
    width: 90%;
    margin: auto;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .rem {
    flex-direction: column;
    justify-content: left;
    width: 100%;
    gap: 10%;
    text-align: center;
  }
  .rem1 {
    width: 50%;
    justify-self: stretch;
  }
  .rem2 {
    gap: 5%;
    align-content: space-around;
  }
  .container .row {
    width: 100%;
  }
  .cardr img {
    object-fit: cover;
  }
  .like {
    width: 90%;
    margin: auto;
  }

  .minipost {
    grid-template-columns: 1fr;
    gap: 10%;
    margin-right: 30px;
    cursor: pointer;
  }
  .minipost-post h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .minipost-post p {
    font-size: 15px;
    color: #797878;
    margin-bottom: 10px;
  }
}
