<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
.container{
    width: 100%;

}
.container .row{
    width: 45%;
    margin: auto;
}

.container .row .header h1{
    padding-top: 30px;
    font-size: 55px;
    color: #e19c30;
}
.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}
.content{
display: flex;
justify-content: space-around;
margin-top: 2rem;
}
.card{
    width: 100%;

}
.card img{
    width: 100%;
    height: 65vh;
}
.card h4{
    margin: 10px 0 0 10px;
    font-size: 15px;
    font-family: roboto,sans-serif;
}
.card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}
.cont{
    width: 45%;
    margin: auto;
    margin-top: 4rem;
}

.cont2 h1{
    font-size: 50px;
    font-family: roboto,sans-serif;
    font-weight: bold;
}
.cont2 h3{
    font-size: 20px;
    margin-top: 2rem;
    font-family: roboto,sans-serif;
    font-weight: bold;
    color: #6e6e6e;
}
.rem{
 display: flex;
 justify-content: space-between;
 width: 40%;
 margin-top: 1rem;
 align-items: center;
}
.rem1{
    width: 20%;
}
.rem1 img{
    width: 100%;
    border-radius: 50%;
}.rem2 a{
    color: blue;
    text-decoration: none;
}
.like{
    width: 45%;
    margin: auto;

}
.likes1{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 2rem;   
}
.post{
    width: 45%;
    margin: auto;
}
.post2 h2{
    font-size: 40px;
    margin: 2rem 0 1rem 0;
}
@media screen and (max-width:900px) {
    .cont{
        width: 90%;
        margin: auto;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    .rem{
        width: 70%;
    }
    .container .row{
        width: 100%;
    }
    .card img{
        object-fit: cover;
    }
    .like{
        width: 90%;
        margin: auto;
    }
    .post{
        width: 90%;
        margin: auto;
    }
    
}
=======
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 124, 13);
    font-family: 'Spartan', sans-serif;

}
.form{
    width: 30%;
    height: 450px;
    background-color: #fff;
    margin: 5% auto;
    text-align: center;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 20px 40px 10px rgba(56, 64, 76, 0.6);
}
.log1{
    width: 95%;
    padding: 3% 2%;
    margin-bottom: 20px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
}
.log{
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 30px;
}
.log2{
    background-color: rgb(238, 124, 13);;
    width: 100%;
    padding: 3% 2%;
    border: none;
    border-radius:5px ;
    margin-bottom: 25px;
    color: #fff;
}
a{
    color:  rgb(238, 124, 13);;
}
.agree p{
    font-size: 13px;
}
@media (max-width: 450px) {
    .form{
        height: 100%;
        width: 80%;
        margin-top: 25%;
    }
}
@media (max-width: 799px) {
    .form {
        width: 60%;
        margin-top: 25%;
    }
}
    
>>>>>>> 4e37a624e828a85471717ee11e37dac98b5c1c4b
